<div id="myDIV" class="header">
  <h2 style="margin:5px">My To Do List</h2>
  <input type="text" id="myInput" #title (keyup.enter)="addItem(title.value); title.value='';" placeholder="Title...">
  <span (click)="addItem(title.value); title.value='';" class="addBtn">Add</span>
</div>

<ul id="myUL">
  <li *ngFor="let item of myList" [ngClass]="{'checked': item.focus}" (click)="clickItem(item)">{{item.title}} <span class="close" (click)="removeItem(item)">×</span></li>
</ul>

<router-outlet></router-outlet>
